.bg-social_inst {
    width: 32px; height: 32px;
    background: url('icons-sprite.png') -10px -10px;
}

.bg-social_fb {
    width: 32px; height: 32px;
    background: url('icons-sprite.png') -62px -10px;
}

.bg-search_icon {
    width: 16px; height: 16px;
    background: url('icons-sprite.png') -62px -62px;
}

.bg-plus_icon {
    width: 16px; height: 16px;
    background: url('icons-sprite.png') -114px -10px;
}

.bg-compare_icon {
    width: 10px; height: 10px;
    background: url('icons-sprite.png') -10px -114px;
}

.bg-cart_icon {
    width: 12px; height: 12px;
    background: url('icons-sprite.png') -114px -78px;
}

.bg-user_icon {
    width: 13px; height: 12px;
    background: url('icons-sprite.png') -114px -46px;
}

.bg-social_twit {
    width: 32px; height: 32px;
    background: url('icons-sprite.png') -10px -62px;
}