@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy-ExtraBold"),
    url("fonts/gilroyextrabold.woff2"),
    url("fonts/gilroyextrabold.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy-Light"),
    url("fonts/gilroylight.woff2"),
    url("fonts/gilroylight.woff");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;

  min-width: 1200px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.user-nav {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.main-search-input {
  display: flex;
}

.main-nav-login,
.main-nav-login-auth {
  margin: 0;
  margin-right: 54px;
  padding: 0;
  width: 226px;
}

.main-nav-order {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 60px;
  padding: 0;
  width: 220px;
}

.products-nav {
  display: flex;
  margin-bottom: 34px;
}

.main-nav-catalog {
  margin: 0 300px 0 60px;
  padding: 0;
  width: 240px;
  list-style: none;
}

.main-nav-information {
  display: flex;
  justify-content: flex-start;
}

.main-search-form {
  margin: 0 300px 0 60px;
  padding: 0;
  width: 240px;

}

.main-header {
  min-height: 191px;
}

.main-navigation {
  margin-top: 22px;
  min-height: 191px;
}

.main-header-logo {
  width: 169px;
  height: 34px;
  margin-left: 60px;
  margin-bottom: 18px;
}

.main-nav-information {
  margin: 0;
  margin-right: 60px;
  padding: 0;
  width: 500px;

}

.main-navigation .container {
  padding: 0;
  display: flex;
  flex-direction: column;

  width: 1160px;
  background-image: linear-gradient(#ffffff 18px, rgba(240, 197, 46, 0.5) 18px);
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.banners {
  margin: 0;
  margin-bottom: 95px;
  padding: 0;
  min-height: 512px;
}

.banners-slider {
  margin: 0;
  padding: 0;
  display: flex;

  background-image: linear-gradient(rgba(240, 197, 46, 0.5) 126px, #ffffff 126px);
}

.banners-slide {
  margin: 0;
  padding: 0;
  display: flex;
}

.image-container {
  width: 560px;
  min-height: 512px;
  margin-right: 40px;
}

.banners-slide-image {
  text-align: center;
  vertical-align: middle;
}

.slide-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 560px;
}

.banners-slide-lead {
  margin-right: auto;
  margin: 0;
  margin-top: 95px;
  margin-bottom: 27px;
  padding: 0;
}

.banners-slide-description {
  margin: 0;
  margin-bottom: 57px;
  padding: 0;
}

.banners-slide-details {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
}

.catalog-section {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 82px;
  padding: 0;

  border: 2px solid black;
}

.catalog-section-list {
  margin: 0;
  padding: 0;
  min-height: 240px;
  display: flex;
  justify-content: space-between;
}

.catalog-section-item {
  width: 160px;
}

.services {
  margin: 0;
  margin-bottom: 94px;
  padding: 0;
  min-height: 388px;
  width: 1160px;

  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px);
  display: flex;
  justify-content: flex-start;
}

.services-switch-list {
  width: 280px;
  height: 170px;
  margin: 0;
  margin-top: 85px;
  margin-right: 120px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services-slider {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  width: 760px;
  height: 388px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.services-heading {
  margin: 0;
  margin-top: 73px;
  margin-bottom: 31px;
  padding: 0;
}

.services-description {
  margin: 0;
  padding: 0;
  width: 460px;
}

.logo-promo {
  margin: 0;
  margin-bottom: 145px;
  padding: 0;
  width: 1160px;
  min-height: 100px;
}

.logo-promo-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.about-us-contacts {
  margin: 0;
  padding: 0;
  display: flex;
}

.about-us {
  margin: 0;
  margin-right: 120px;
  padding: 0;
  width: 480px;
  min-height: 512px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us-heading {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
}

.about-us-description {
  margin: 0;
  padding: 0;
}

.about-us-description:nth-of-type(1) {
  margin-bottom: 30px;
}

.about-us-description:nth-of-type(2) {
  margin-bottom: 66px;
}

.details-about-us {
  margin: 0;
  padding: 0;
}

.about-us-delievery-list {
  margin: 0;
  margin-bottom: 61px;
  margin-left: 35px;
  padding: 0;
}

.contacts {
  margin: 0;
  height: 0;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts-heading {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
}

.contacts-description {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.map {
  width: 560px;
  height: 222px;
  margin-bottom: 76px;
  padding: 0;
}

.button-write-us{
  margin: 0;
  padding: 0;
}

.main-footer {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 324px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-menu-and-logo {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  width: 1160px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}

.main-footer-logo {
  margin: 0;
  margin-top: 66px;
  margin-right: 678px;
  padding: 0;
  width: 180px;
  height: 34px;
}

.footer-login,
.footer-login-auth {
  margin: 0;
  margin-top: 60px;
  margin-right: 63px;
  padding: 0;
}

.footer-order {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  min-width: 192px;

  display: flex;
  justify-content: space-between;
}

.footer-nav-and-information {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  display: flex;
  justify-content: flex-start;
}

.footer-information-address {
  margin: 0;
  padding: 0;
}

.footer-nav-information {
  margin: 0;
  padding: 0;
}

.footer-information-phone {
  margin: 0;
  padding: 0;
}

.footer-social-and-copyright {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  display: flex;
  justify-content: flex-end;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-copyright {
  margin: 0;
  padding: 0;
}

.main-header-logo:hover,
.main-header-logo:focus,
.main-footer-logo:hover,
.main-footer-logo:focus  {
  opacity: 0.6;
}

.main-header-logo:active,
.main-footer-logo:active {
  opacity: 0.3;
}

.input-search {
  color: rgba(0, 0, 0, 0.3);

  border: none;
  background-color: transparent;
}

.input-search:focus {
  color: #000000;
}

.button-search {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  background-color: transparent;
  border: 2px solid #000000;

  cursor: pointer;
}

.button-search:hover,
.button-search:focus {
  color: #ffffff;

  background-color: #000000;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
  color: #000000;
}

/* .header-block {
  color: #000000;

  background-color: rgba(247, 226, 150, 0.5)
} */

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.6)
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.main-nav-login,
.main-nav-order,
.main-nav-login-auth {
  list-style: none;
}

.current a,
.current a:hover,
.current a:focus,
.current a:active {
  color: #464646;
}

.catalog-menu-item a {
  line-height: 36px;
}

.nav-catalog-menu > a,
.main-nav-information a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 800;

  text-transform: uppercase;
}

.main-nav-information,
.nav-catalog-menu,
.catalog-menu-dropdown {
  list-style: none;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1)
}

.breadcrumbs-current a,
.breadcrumbs-current a:hover,
.breadcrumbs-current a:focus,
.breadcrumbs-current a:active {
  color: rgba(0, 0, 0, 0.3);
}

.heading-filter-box {
  background-color: rgba(0, 0, 0, 0.08)
}

.filters {
  background-color: #efefef;
}

.filters-fieldset {
  border: none;
}

.filters-legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.filters-heading,
.sorting-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  letter-spacing: 2px;
  text-transform: uppercase;
}

.filters-price-text,
.filters-price-text input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2)
}

.filters-price-text input {
  background-color: transparent;
  border: none;
}

.filters-price-text input:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.filters-price-text input:focus {
  color: #464646;

  border: 3px solid rgba(240, 197, 46, 0.5);
}

.filters-price-text input:disabled {
  background-color: rgba(237, 181, 181, 0.5);
}

.filters-color-inputs,
.filters-bluetooth-inputs {
  list-style: none;
}

.filters-color-item label,
.filters-bluetooth-item label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filters-color-item input:disabled,
.filters-bluetooth-item input:disabled {
  color: #a6a6a6;
}

.heading-sorting-box {
  background-color: rgba(0, 0, 0, 0.08)
}

.sorting-type-list,
.sorting-variation-list {
  list-style: none;
}

.sorting-type-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type-list a:hover,
.sorting-type-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-type-list a:active {
  color: #000000;
}

.sorting-type-list .current {
  color:#000000;
}

.products-list {
  list-style: none;
}

.products-item-heading a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.products-item-price {
  font-size: 16px;
  font-weight: 300;
  color: #464646;
}

.button-to-compare {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.button-to-compare:hover,
.button-to-compare:focus {
  color: #000000;
}

.button-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 2px;
}

.pagination-side a {
  color: #000000;
  text-transform: uppercase;
}

.pagination-side a:hover,
.pagination-side a:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-side a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-number a {
  color: rgba(0, 0, 0, 0.3)
}

.pagination-number a:hover,
.pagination-number a:focus {
  color: rgba(0, 0, 0, 0.6)
}

.pagination-number a:active {
  color: #000000;
}

.pagination-number-current a,
.pagination-number-current a:hover,
.pagination-number-current a:focus,
.pagination-number-current a:active {
  color: #000000;
}

.slide-number {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff
}

.banners-slide-lead {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.banners-slider,
.banners-switch-list {
  list-style: none;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  text-transform: uppercase;
  color: #000000;

  text-align: center;
  vertical-align: middle;

  background-color: #f0c52e;
  border: none;

  cursor: pointer;
}

.button:active {
  color: rgba(0, 0, 0, 0.3)
}

.banners-slide-table th {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.banners-slide-table td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.catalog-section-list {
  list-style: none;
}

.catalog-section-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.catalog-section-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-switch-list,
.services-slider {
  list-style: none;
}

.services-heading,
.about-us-heading,
.contacts-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.logo-promo-list {
  list-style: none;
}

.about-us-delievery-list {
  list-style: none;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.main-footer {
  color: #ffffff;

  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  color: rgba(255, 255, 255, 0.6)
}

.main-footer a:active {
  color: rgba(255, 255, 255, 0.3)
}

.footer-information {
  color: #ffffff;
}

.footer-information-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.footer-login,
.footer-login-auth,
.footer-order {
  list-style: none;
  color: #ffffff;
}

.footer-login a,
.footer-order a,
.footer-login-auth a {
  line-height: 36px;

  color: rgba(255, 255, 255, 0.7)
}

.footer-login a:hover,
.footer-login a:focus {
  color: #ffffff;
}

.footer-order a:hover,
.footer-order a:focus {
  color: #ffffff;
}

.footer-login-auth a:hover,
.footer-login-auth a:focus {
  color: #ffffff;
}

.footer-login a:active,
.footer-order a:active,
.footer-login-auth a:active {
  color: rgba(255, 255, 255, 0.3)
}

.footer-nav-information,
.footer-social-list {
  list-style: none;
  text-align: center;
}

.footer-copyright {
  width: 27px;
  height: 35px;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:active {
  opacity: 0.3;
}

.write-us-input label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.write-us-input input,
.write-us-input textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);

  border: none;
}

.write-us-input input:hover,
.write-us-input textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.write-us-input input:focus,
.write-us-input textarea:focus {
  color: #464646;

  border: 3px solid rgba(240, 197, 46, 0.5);
}

.write-us-input input:disabled,
.write-us-input textarea:disabled {
  background-color: rgba(237, 181, 181, 0.5);
}
